<<<<<<< HEAD
<% if !!flash.has?(:empty_tweet) %>
=======
<% if flash.has?(:empty_tweet) %>
>>>>>>> 45ad4a83a0014a5d3a79715c797054c98be41c87
  <%= flash[:empty_tweet] %>
<% end %>
<form method="POST" action="/tweets">
  <label>Content:</label><br>
  <input type="text" name="content" id="content"><br><br>
  <input type="submit" value="submit">
</form>
